In [ ]:
# Create and connect to local MongoDB databases.
# Create, read, update, and delete MongoDB documents using the Mongo Shell.
# Create simple Python applications that connect to and modify MongoDB databases using the PyMongo library.
# XXX Use Beautiful Soup to scrape their own data from the web.
# Save the results of web scraping into MongoDB.
# Become comfortable rendering templates with Flask using data retrieved from a Mongo database.
# Use Beautiful Soup to scrape data.
# Use PyMongo to save data to a Mongo database.
# Use Flask to render templates.

In [1]:
#Import dependencies

from bs4 import BeautifulSoup as bs
from splinter import Browser
import pandas as pd
import requests
import time

executable_path ={"executable_path":"chromedriver.exe"}
browser = Browser("chrome", **executable_path, headless=False)

In [2]:
# Link for latest news on Mars
url = "https://mars.nasa.gov/news/"
browser.visit(url)
time.sleep(5)
# Scrape page into Soup
html = browser.html
soup = bs(html, "html.parser")

# Scrape news info
news_title=soup.find('div', class_="content_title").text
news_description = soup.find('div', class_="article_teaser_body").text

In [3]:
#test news title and description
print(news_title)
print(news_description)

InSight Engineers Have Made a Martian Rock Garden
Reconstructing Mars here on Earth lets them practice setting down the lander's science instruments.

In [8]:
# Featured homepage image

# Latest featured image
featured_image = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(featured_image)
time.sleep(5)

#Navigate to Link
browser.click_link_by_partial_text('FULL IMAGE')
time.sleep(10)

#get html code once at page
image_html = browser.html

#Scrap into Soup/parse
soup = bs(image_html, "html.parser")

#Full path
image_html = soup.find('article', class_="carousel_item")['style']
featured_image_url = "https://www.jpl.nasa.gov" + image_html

In [9]:
#Test image url

print(featured_image_url)

https://www.jpl.nasa.govbackground-image: url('/spaceimages/images/wallpaper/PIA18884-1920x1200.jpg');

In [11]:
#Mars Weather through Twitter

mars_weather = "https://twitter.com/marswxreport?lang=en"
browser.visit(mars_weather)
weather_html = browser.html

soup = bs(weather_html, "html.parser")
mars_weather_url = soup.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [12]:
#Test mars_weather_url

print(mars_weather_url)

Sol 2258 (2018-12-13), high -6C/21F, low -70C/-93F, pressure at 8.41 hPa, daylight 06:37-18:51

In [18]:
#mars facts url and splinter visit
facts_url = "https://space-facts.com/mars/"
browser.visit(facts_url)

#get html
facts_html = browser.html

soup = bs(facts_html, 'html.parser')

In [19]:
#get the entire table
table_data = soup.find('table', class_="tablepress tablepress-id-mars")

In [22]:
#find all instances of table row
table_instances = table_data.find_all('tr')

#set up lists to hold td elements which alternate between label and value
description = []
values = []

#for each tr element append the first td element to labels and the second to values
for tr in table_instances:
    td_elements = tr.find_all('td')
    description.append(td_elements[0].text)
    values.append(td_elements[1].text)

In [24]:
#Put Values into a DataFrame and test
mars_data = pd.DataFrame({"Description":description, "Values":values})

mars_data

             Description                         Values
0   Equatorial Diameter:                     6,792 km\n
1        Polar Diameter:                     6,752 km\n
2                  Mass:  6.42 x 10^23 kg (10.7% Earth)
3                 Moons:            2 (Phobos & Deimos)
4        Orbit Distance:       227,943,824 km (1.52 AU)
5          Orbit Period:         687 days (1.9 years)\n
6  Surface Temperature:                   -153 to 20 °C
7          First Record:              2nd millennium BC
8           Recorded By:           Egyptian astronomers