In [1]:
%config IPCompleter.greedy=True

In [2]:
import pandas as pd

In [3]:
fruit_list_one = {"fruits":["banana","apple"], "color": ["yellow", "red"]}
fruit_df_1 = pd.DataFrame(fruit_list_one)
fruit_df_1

   fruits   color
0  banana  yellow
1   apple     red

In [15]:
fruit_list_2 = {"fruits":["banana","pineapple"], "color": ["yellow", "yellow"]}
fruit_df_2 = pd.DataFrame(fruit_list_2)
fruit_df_2

      fruits   color
0     banana  yellow
1  pineapple  yellow

In [10]:
inner_join_fruits_on_fruit = pd.merge(
    fruit_df_1, fruit_df_2, how="inner", on="fruits")
inner_join_fruits_on_fruit

   fruits color_x color_y
0  banana  yellow   brown

In [16]:
fruit_df_1

   fruits   color
0  banana  yellow
1   apple     red

In [17]:
fruit_df_2

      fruits   color
0     banana  yellow
1  pineapple  yellow

In [18]:
inner_join_fruits_on_color = pd.merge(
    fruit_df_1, fruit_df_2, how="inner", on="color")
inner_join_fruits_on_color

  fruits_x   color   fruits_y
0   banana  yellow     banana
1   banana  yellow  pineapple

In [22]:
outer_join_fruits_on_fruit = pd.merge(
    fruit_df_1, fruit_df_2, how="outer", on="fruits")
outer_join_fruits_on_fruit

      fruits color_x color_y
0     banana  yellow  yellow
1      apple     red     NaN
2  pineapple     NaN  yellow

In [23]:
left_join_fruits_on_fruit = pd.merge(
    fruit_df_1, fruit_df_2, how="left", on="fruits")
left_join_fruits_on_fruit

   fruits color_x color_y
0  banana  yellow  yellow
1   apple     red     NaN

In [24]:
right_join_fruits_on_fruit = pd.merge(
    fruit_df_1, fruit_df_2, how="right", on="fruits")
right_join_fruits_on_fruit

      fruits color_x color_y
0     banana  yellow  yellow
1  pineapple     NaN  yellow

In [25]:
right_join_fruits_on_fruit.fillna("")

      fruits color_x color_y
0     banana  yellow  yellow
1  pineapple          yellow